*{
  margin: 0;
  padding: 0;
}
.appbody{
  display: flex;
}
.cardsparentdiv{
  width: 100%;
  padding-right: 5px;
  background-color: rgb(240, 243, 245);
}
.navbarParent{
  position: relative;
   padding: 15px;
}